<div class="container">
  <h2 class="row mb-2 mt-3">Cadastro de carros: </h2>
  <form #formCar="ngForm">
      <div class="row mb-2 mt-3">
        <label for="name" class="form-label col-sm-1">Nome: </label>
        <div class="col-sm-11">
            <input type="text" class="form-control" [(ngModel)]="car.name" name="name" id="name" required>
        </div>
      </div>
      <div class="row mb-2 mt-3">
        <label for="manufacturer" class="form-label col-sm-1">Montadora: </label>
        <div class="col-sm-11">
            <input type="text" class="form-control" [(ngModel)]="car.manufacturer" name="manufacturer" id="manufacturer" required>
        </div>
      </div>
      <div class="row mb-2 mt-3">
        <label for="preco" class="form-label col-sm-1">Preço: </label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]="car.preco" name="preco" id="preco" required>
        </div>
        <label for="ano" class="form-label col-sm-1">Ano: </label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]="car.ano" name="ano" id="ano" required>
        </div>
      </div>
      <div class="row mb-2 mt-3 col-sm-1">
        <button class="btn btn-primary"(click)="save()" [disabled]="formCar.invalid">Salvar</button>
      </div>
  </form>
</div>
