<app-car [car]="car" (saveEmmiter)="saveCar()"></app-car>

<div class="container p-3 bg-light shadow-sm rounded">
  <h3>Carros Cadastrados</h3>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Montadora</th>
        <th>Preço</th>
        <th>Ano</th>
        <th class="text-end">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars" >
        <td>{{ car.id + 1 }}</td>
        <td>{{ car.name }}</td>
        <td>{{ car.manufacturer }}</td>
        <td>R$ {{ car.preco.toFixed(2) }}</td>
        <td>{{ car.ano }}</td>

        <td class="text-end">
          <button class="btn btn-success me-2" (click)="update(car)">Editar</button>
          <button class="btn btn-danger" (click)="remove(car)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
